<!doctype html>
<html lang="en">
<head>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3"> Create Experiment </h1>
        <!-- <div ng-show="error" class="alert alert-danger">//errorMessage//</div> -->
        <form id="createExperimentForm">
            <div class="form-group">
                <h7> Name </h7>
                <input id="name" class="form-control" type="text" name="name" ng-model="createExperimentForm.name" placeholder="Name">
            </div>
            <br>

            <div class="form-group">
                <h7>Testing:</h7>
                <div layout="column" layout-align="center center">
                    <select>
                        <option>Silver</option>
                        <option>Gold</option>
                        <option>Platinum</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="form-group">
                <h7>Testing:</h7>
                <div layout="column" layout-align="center center">
                    <select>
                        <option>New Customers</option>
                        <option>Transactions</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="form-group">
                <h7> Start Date </h7>
                <table>
                <tr> 
                    <td>
                        <select id='month' onchange="show_month()">
                            <option value=''>--Select Month--</option>
                            <option selected value='1'>January</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>
                    </td>
                    <td><input id="day" type="text" placeholder="Day (DD)"></td>
                    <td><input id="year" type="text" placeholder="Year (YYYY)"></td>
                </tr>
                </table>
            </div>
            <br> 

            <div class="form-group">
                <h7> End Date </h7>
                <table>
                <tr> 
                    <td>
                        <select id='month2' onchange="show_month()">
                            <option value=''>--Select Month--</option>
                            <option selected value='1'>January</option>
                            <option value='2'>February</option>
                            <option value='3'>March</option>
                            <option value='4'>April</option>
                            <option value='5'>May</option>
                            <option value='6'>June</option>
                            <option value='7'>July</option>
                            <option value='8'>August</option>
                            <option value='9'>September</option>
                            <option value='10'>October</option>
                            <option value='11'>November</option>
                            <option value='12'>December</option>
                        </select>
                    </td>
                    <td><input id="day2" type="text" placeholder="Day (DD)"></td>
                    <td><input id="year2" type="text" placeholder="Year (YYYY)"></td>
                </tr>
                </table>
            </div>
            <br>

            <div class="form-group">
                <table>
                    <tr>
                        <td><h5>Age Range: &nbsp;</h5></td>
                        <td><input type="number" name=ageRangeStart> &nbsp; to &nbsp; </td>
                        <td><input type="number" name=ageRangeEnd></td>
                    </tr>
                </table>
            </div>
             <br>

            <div class="form-group">
                <h7> Geographic Region(s):</h7>
                <table>
                    <tr>
                        <td><input type=checkbox value="NorthEast" id=NECheckbox> &nbsp;NorthEast &nbsp;</td>
                        <td><input type=checkbox value="SouthEast" id=SECheckbox> &nbsp;SouthEast &nbsp;</td>
                        <td><input type=checkbox value="MidWest" id=MWCheckbox> &nbsp;MidWest &nbsp;</td>
                    </tr>
                    <tr>
                        <td><input type=checkbox value="NorthWest" id=NWCheckbox> &nbsp;NorthWest &nbsp;</td>
                        <td><input type=checkbox value="SouthWest" id=SWCheckbox>&nbsp; SouthWest &nbsp; </td>
                    </tr>
                </table>
            </div>
            <br>

            <div class="form-group">
                <h7> Income Bracket(s):</h7>
                <table>
                    <tr>
                        <td><input type=checkbox value="$0 - $9,275" id=iOne> &nbsp;$0 - $9,275 &nbsp;</td>
                        <td><input type=checkbox value="$9,275 - $37,650" id=iTwo> &nbsp; $9,275 - $37,650 &nbsp;</td>
                        <td><input type=checkbox value="$37,650 - $91,150" id=iThree>&nbsp; $37,650 - $91,150 &nbsp;</td>
                        <td><input type=checkbox value="$91,150 - $190,150" id=iFour> &nbsp;$91,150 - $190,150 &nbsp;</td>
                    </tr>
                    <tr>
                        <td><input type=checkbox value="$190,150 - $413,350" id=iFive> &nbsp;$190,150 - $413,350 &nbsp;</td>
                        <td><input type=checkbox value="$413,350 - $415,050" id=iSix> &nbsp;$413,350 - $415,050 &nbsp;</td>
                        <td><input type=checkbox value="$415,050 and above" id=iSeven> &nbsp;$415,050 and above &nbsp;</td>
                    </tr>
                </table>
            </div>
            <br>

            <button id="next-btn" class="btn btn-primary" ng-click="submit()">Submit</button>
        

        </form>
    </div>
</div>
</body>
</html>