<div class="container-fluid">
<div class="container jumbotron" align="center">
	<h7><button id="create" class='btn btn-primary pull-right'>Create Experiment</button></h7>
	<br>
	<h1>Experiments</h1>
	</br>
	<table>
		<tr ng-repeat="exp in data track by $index">
			<td>
				<img src="/static/partials/assets/img/experiment_icon.png" ng-click="viewExperiment(exp.id);" style="width:150px;height:150px;"></br>
				ID: {{exp.id}} </br>
				Name: {{exp.name}} </br>
				Product: {{exp.product}} </br>
				Start Date: {{exp.start_date}} </br>
				End Date: {{exp.end_date}} </br>
				Active: {{exp.active}} </br>
			</td>
		<tr>
	</table>
</div>
</div>
